csgo/*
!csgo/cfg
!csgo/motd.txt
!csgo/umc_mapcycle.txt
!csgo/bspconvar_whitelist.txt
!csgo/addons

csgo/addons/*
!csgo/addons/sourcemod

csgo/addons/sourcemod/*
!csgo/addons/sourcemod/configs